tensorflow==2.4.1
torch==2.1.2
torchvision==0.16.2
Django==4.2.13
opencv_python==4.10.0.84
numpy==1.24.4
Pillow==9.1.0
phiflow @ git+https://github.com/tum-pbs/PhiFlow@18db0928524754d4411bd72eca74dceac499305e
-e git+https://github.com/DLR-RM/stable-baselines3@a6f5049a99a4c21a6f0bcce458ca3306cef310e0#egg=stable_baselines3

